.division{
      border: 1px solid rgb(160, 154, 154);    
      width:100%;    
}

.display-item-wrap{
    display:flex;
    flex-wrap: wrap;
    background-color: #fee2f8;
 background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
    gap: 1em;
  
    
}
.image-carousel{
    margin-left: 0.5em;
    .thumbnails img{
  
  margin:1em 0 1em 1em;

   width: 5em;
   height: 5em;
  
}
   
   
   
}

.image-detail{
    flex-grow: 2;
    background-color: white;
    margin:1em 0;
    box-shadow: 5px 5px 15px rgb(85, 82, 82);
      border-radius: 20px;
      position: relative;
opacity:0;
  transition-property:opacity;
  transition-duration: .5s ;
  transition-delay: 0s;
 
   
    .model-info{
        
          .image-model{

            font-family: 'Alegreya SC', sans-serif;
            font-size: 2em;
            margin: 1rem 1em;
            color:#660033 ;


          }
          .brand-name{
            font-family: 'Alegreya SC', sans-serif;
            margin-bottom: .5rem;
            margin-left:1rem;


          }
         

      }
    .price-info{
       margin-top:1em;
        font-family: 'Alegreya SC', sans-serif;
        font-weight: 550;
        .price-detail{
            margin:1em .5rem;
            .actual-price{ 
                font-size: 1.3em;
                span{                
                text-decoration: line-through;
                }
            }
            .selling-price{
                margin-top:.5em;
                color:red;
                font-size: 1.3em;
                span{
                    color:black;
                    font-size: 1em;
                }
            }
            .discount-price{
                margin-top:.5em;
                color:red;
                font-size: 1.3em;
                span{
                    color:black;
                    font-size: 1em;
                }
            }
        }
        .stock-avail-wrap{
            .stock-container{
                margin:1em .5rem;
                .stock{
                    
                    font-size: 1.2em;
                    font-weight: bold;
                }
                .seller{
                    font-family:'Roboto' ;
                    font-size: 1.2em;
                    margin-top:.5em;
                    font-weight: normal;
                }
               
            }

        }
        .about-wrap{
            .about-item{
                margin:1em .5em;
                .offers{
                    font-size: 1.3em;
                    font-weight: 600;
                }
                ul{
                    list-style-type: square;
                    li{
                        margin: .5em 2em;
                        font-family: 'Roboto';
                    }
                }
            }

        }

    }
}



    

.delivery-type{
    font-family: 'Alegreya SC', sans-serif;
    flex-grow: 1;
    background-color: white;
   margin:1em 0;
   box-shadow: 5px 5px 15px rgb(85, 82, 82);
    border-radius: 20px;
    position: relative;
    opacity:0;
    transition-property:opacity;
     transition-duration: .5s ;
    transition-delay: 0.3s;
 
 
    .delivery-info{
        
        margin:1em 1em;
        .item-type{
            font-size: 1.3em;         
        }
        .delivery-speed{
            font-size: 1em;
            font-weight: 600;
            font-family: 'Roboto';
            margin-top: 1em;

        }
    }
    .pro-button-container{
        margin: .5em 1em;
        
    }
}
.pro-button{
   background-color: rgb(49, 45, 45);
   border: 2px solid #E94F64;
   font-size: 2em;
   font-family: 'Alegreya SC', sans-serif;
   color:white;
   padding: 0 1em;
   border-radius :50px ;

}
.buylinkbt{
    background-color: rgb(14, 13, 13);
 
   font-size: 1em;
   font-family: 'Alegreya SC', sans-serif;
   color:white;
   padding: 0 5.6rem;
   border-radius :50px ;
   margin-top:1rem;

}
.image-detail.show,
.delivery-type.show

{
    opacity:1;

}