$header-bg:black;
$header-color:white;
$button-bg:#00FF00;
$responsive-grid:auto-flow min-content / repeat(auto-fit, minmax(20em,1fr));
$responsive-grid-2:auto-flow min-content / repeat(auto-fit, minmax(13em,1fr));
@mixin padding-topbottom-leftright ($topbottom,$leftright ) 
{
    padding: $topbottom $leftright;    
}
@mixin pad-left($left){
    padding-left: $left;
}
@mixin  textColor($color) {
    color:$color;
    
}
@mixin fontWeight($weight) {
    font-weight: $weight;
    
}